@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/* @keyframes move {
	from()
} */

@keyframes danger {
  from {@include box-shadow(0, 0, 30px, #f00);}
  50% {@indlude box-shadow(0, 0, 20px, #f0f);}
  to {@indlude box-shadow(0, 0, 15px, #000);}
}

h1 {
  text-transform: uppercase;
  color: #f0f;
  font: {
    size: 1em;
    family: Monospace, Arial; 
    style: italic;
  }
  text-align: center;
}

  
@media screen and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    color: #0f0;
  }
}

.one {
  background: black;
  font: {
    size: (14em / 16);
    family: Monospace, Arial;
  }
  color: #fff;
  text-align: center;
  width: 50%;
  margin: 20px auto 0;
}

.two {
	@extend .one;
	animation: danger 1.2s infinite reverse linear;

}