@import '_conf.sass'
@import '_background.sass'
@import '_position.sass'
@import '_display.sass'
@import '_grid.sass'
@import '_border.sass';
@import '_margin.sass'
@import '_font.sass'
@import '_transition.sass';
@import '_blocks.sass';

body
	& * 
		margin: 0	
		border: 0
		padding: 0
		outline-color: #6F95B5
		&, &::after, &::before
			box-sizing: border-box
	background-color: $white
	padding: 5% 0;
	font-size: 	#{$baseFontSize}px
	line-height: 135%
	font-family: 'PT Sans', sans-serif

@import '_color.sass'
@import '_styles.sass'
@import '_styleCard.sass'
@import '_orderForm.sass'

