.btn {
  margin: 0 auto;
}

#messageHelp, #emailHelp, #phoneNumberHelp, #nameHelp, #dateHelp, #zipcodeHelp {
	color: #f0f;
	display: block;
}
::-webkit-input-placeholder {
  color: hsl(0, 5%, 60%);
}
input:focus::-webkit-input-placeholder {
  color: #fff;
}