@import '_conf.sass'
@import '_display.sass'
@import '_font.sass'
@import '_color.sass'

body
	& * 
		margin: 0	
		border: 0
		padding: 0
		outline-color: #6F95B5
		&, &::after, &::before
			box-sizing: border-box
	background-color: $white
	padding: 5% 0;
	font-size: 	#{$baseFontSize}px
	line-height: 135%
	font-family: 'PT Sans', sans-serif


#slider 
	width: 50%
.slide_container, .slider-track
	display: inline-block

.slider-track
	left: 0
	top: 0
	margin-left: auto
	margin-right: auto
.slide_container
	transform-style: preserve-3d
	perspective: 500px
	margin: 0 -2.5px
	overflow: hidden
	cursor: pointer

.slider_slide, .slide_container, .slider-track
	position: relative
.slider_slide
	max-width: 100%
	text-align: center
	line-height: 8em
	transition: transform 0.8s

.slide_info
	position: absolute
	left: 0
	top: 0
	height: 100%
	width: 100%
	max-width: 0
	padding: 0
	transition: max-width 0.5s, padding 0.5s
	background-color: #fff
	z-index: 12
	line-height: 145%




.info_title,
.info_date,
.info_reffer
	color: $darkGray
	opacity: 0
	z-index: 11
	transition: opacity 0.5s
.info_title
	font-size: (18em / $baseFontSize)
.info_date
	font-size: (16em / $baseFontSize)
.info_reffer
	font-size: (14em / $baseFontSize)
.info_reffer
	position: absolute
	right: 1em
	bottom: 2em
.slide_container:hover > .slide_info
	max-width: 100%
	width: 100%
	padding: 1em 1em
	& .info_title, & .info_date, & .info_reffer
		opacity: 1
	

.slide
	border: 1px solid $darkGray
.slide_hidde, .slide_container
	z-index: 10
.slide_hidden
	transform: rotateY(-90deg)
	z-index: -1
.slide_shown
	transform: rotateY(0deg)