
*, 
*:after,  
*:before {
	box-sizing: border-box;
}

h4, p, .newSchedule, body {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 25em;
	position: relative;
	margin-left: 5em;
	
}
.container_mobile {
	padding-top: 4em;
}
.newSchedule {
        min-width: 120%;
        left: -17%;
        border-radius: 2px;
        position: absolute;
        -ms-transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
        transition: .8s ease;
        -ms-transition: .8s ease;
        -webkit-transition: .8s ease;
        border: 3px solid #CC0066;
        padding: 1em 2em 0.5em;
        background-color: #fff;
        max-width: 25rem;
        z-index: 10000;
    }
    .newSchedule:hover {
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .newSchedule__paragraph {
    }
    .newSchedule__paragraph {
    	padding: 0 2em;
        margin-top: 1em;
    }
    
    .newSchedule__paragraph_important {
        color: #CC0066;
    }
 
    .newSchedule__title {
        background-color: #CC0066;
        padding: 0.5em;
        position: absolute;
        top: 100%;
        left: 13.5%;
        font-size: 1em;
        width: 70%;
        text-align: center;
        color: #f7f7f7;
        cursor: pointer;
    }
.newSchedule__title_mobile {
    background-color: #c2185b;
    padding: 1em;
    font-size: 1.1em;
    text-align: right;
    width: 100%;
    position: relative;
}
.newSchedule__title_mobile, .newSchedule__title_mobile:after {
    color: #f7f7f7;
}
.newSchedule__title_mobile:after {
    content: "\003c";
    font-weight: bold;
    padding-right: 0.3em;
    border-right: 1px solid #eee ;
    font-size: 2.5em;
    height: 100%;
    position: absolute;
    top: 0em;
    left: 0.3em;
    transition: top .3s ease;
}
.newSchedule__title_mobile:after:active {
    top: 1.1em;
}
 .newSchedule__button {
    width: 100%;
    height: 100%;
    font-size: 0.6875em;
    white-space: nowrap;
    color: #fff;
    background: #c2185b;
    border: 0;
 }
.newSchedule_mobile {
    border-radius: 2px;   
    position: fixed;
    top: 0;
    left: 0; 
    -ms-transition: .8s ease;
    -webkit-transition: .8s ease;
    transition: .8s ease;
    border: 3px solid #c2185b;
    border-top-width: 0;
    padding-bottom: 0.5em;
    background-color: #fff;
	z-index: -10000;
	opacity: 0;
	width: 100%;
	height: 100vw;
	-ms-transition: opacity .8s ease;
	-webkit-transition: opacity .8s ease;
}
.newSchedule__button:focus + .newSchedule_mobile {
	transition: opacity .8s ease;
	z-index: 10000;
	opacity: 1;
}