@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import 'breakpoint';

$darkGray: #212121
$first: #FDD349
$second: #78302F
$third: #365E63
$white: #f1f1f1

$bigScreen: 1600px
$lg: 1200 1600px
$md: 992px 1199px
$sm: 801px 991px
$xs: max-width 800px
$xxs: max-width 540px

$baseFontSize: 18

%darkCianBg
	background-color: $third
%burgundyBg
	background-color: $second
%yellowBg
	background-color: $first
%clearfix 
	&::after, &::before 
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;

%pointIt
	cursor: pointer
// Positions
%relative
	position: relative	
%absolute
	position: absolute
// Display
%block
	display: block
%inlineBlock
	display: inline-block
// Simple Grid
%zeroMaxHeight
	max-height: 0
%bigMaxHeight
	max-height: 1920px
%zeroWidth
	width: 0
%fullWidth
	width: 100%
%halfWidth
	width: 49.7%
%four
	width: 23.5%
%five
	width: 20%
// md
%fullWidth-md
	@include breakpoint($md)
		width: 100%
%four-md
	@include breakpoint($md)
		width: 25%
%halfWidth-md
	@include breakpoint($md)
		width: 49.7%
		width: 25%
%five-md
	@include breakpoint($md)
		width: 20%
// sm
%fullWidth-sm
	@include breakpoint($sm)
		width: 100%
%halfWidth-sm
	@include breakpoint($sm)
		width: 45%
%four-sm
	@include breakpoint($sm)
		width: 25%
%five-sm
	@include breakpoint($sm)
		width: 20%
// xs
%fullWidth-xs
	@include breakpoint($xs)
		width: 100%
%halfWidth-xs
	@include breakpoint($xs)
		width: 45%
%four-xs
	@include breakpoint($xs)
%five-xs
	@include breakpoint($xs)
		width: 20%
%fullWidth-xxs
	@include breakpoint($xxs)
		width: 100%
// Borders
%defaultBorderRadius
	border-radius: 2px
// Margins
%defaultMarginTop
	margin-top: 1em	
%zeroMarginTop
	margin-top: 0	
%increasedMarginTop
	margin-top: 1.5em	
%redusedMarginTop
	margin-top: 0.5em	
%centerBlock
	margin-left: auto
	margin-right: auto
	@extend %block
// Opacity
%lowestOpacity
	opacity: 0
%halfOpacity
	opacity: 0.5
%fullOpacity
	opacity: 1
// Flex-box classes
%flex
	display: flex

%defaultFlexFlow
	flex-flow: row wrap
%nowrap
	flex-wrap: nowrap
%wrap
	flex-wrap: wrap

%rowDirection
	flex-direction: row
%columnDirection
	flex-direction: column

%spaceBetween
	justify-content: space-between
%justifyStart
	justify-content: flex-start
%justifyAround
	justify-content: space-around
%alignCenter
	align-items: center
%alignStart
	align-items: flex-start
%defaultFlex
	@extend %flex
	@extend %defaultFlexFlow
	@extend %justifyStart
	@extend %alignCenter
// Font classes
%fs-16
	font-size: 	(16em / $baseFontSize)
%fs-18
	font-size: 	(18em / $baseFontSize)
%fs-21
	font-size: 	(21em / $baseFontSize)
%fs-24
	font-size: 	(24em / $baseFontSize)
%fs-28
	font-size: 	(28em / $baseFontSize)
%fs-21-xs
	@include breakpoint($xs)
		font-size: 	(21em / $baseFontSize)
%fs-28-xs
	@include breakpoint($xs)
		font-size: 	(28em / $baseFontSize)
%fs-32-xs
	@include breakpoint($xs)
		font-size: 	(32em / $baseFontSize)
%bold 
	font-weight: bold
// Transitions
%smoothButton
	transition: color 0.6s, background 0.5s, transform 0.5s, opacity 0.5s
	&:active
		transform: translateY(3px)
%paleButton
	@extend %halfOpacity
	transition: color 0.6s, background 0.5s, opacity 0.7s, transform 0.5s
	&:hover
		@extend %fullOpacity
// List styles
%unstyled
	list-style: none
%hiddenFlow
	overflow: hidden
%hiddenElement
	visibility: hidden
%zeroIndex
	z-index: 0
%bigIndex
	z-index: 4

// Блоки и элементы по-умолчанию 
.imageContainer
	@extend %defaultBorderRadius
	@extend %relative
	@extend %lowestOpacity
	&_fadeIn
  		transition: opacity 1.5s
	  	@extend %fullOpacity

.bigButton
	@extend %bold
	padding: 10px 0;
	@extend %defaultBorderRadius
	@extend %yellowBg
	@extend %smoothButton
	&:hover
		background-color: darken($first, 10%)
		color: lighten($darkGray, 10%)

.closeButton
	@extend %absolute
	top: -20px;
	right: -20px
	padding: 5px 10px;
	border: 2px solid $darkGray;
	border-radius: 50%
	line-height: 100%
	transform: none
	@extend %paleButton
	@extend %fs-21-xs
	@include breakpoint($xs)
		padding-top: 3px

	&:hover
		transform: rotate(25deg)
body
	& * 
		margin: 0	
		border: 0
		padding: 0
		outline-color: #6F95B5
		&, &::after, &::before
			box-sizing: border-box
	background-color: $white
	padding: 5% 0;
	font-size: 	#{$baseFontSize}px
	line-height: 135%
	font-family: 'PT Sans', sans-serif;

// Группированные элементы с определённым цветом шрифта
.styleCard, .singleStyleImageContainer__button, .orderFormContainer
	color: $white
.styleCardPresentation__number, .bigButton
	color: $darkGray
// START Styles section
.styles
	@extend %unstyled
	@extend %flex
	@extend %justifyAround
	@extend %alignStart
	@extend %defaultFlexFlow
	@extend %fullOpacity
	&, & *
		@extend %bigMaxHeight
		transition: max-height 1s, opacity 1s, display 2s
	@include breakpoint($xs)
		flex-direction: column
		flex-wrap: nowrap
		padding: 10% 5%
	&_hidden, &_hidden *
		max-height: 0
		@extend %lowestOpacity

// START Single style

.singleStyle
	@extend %four
	@extend %halfWidth-sm
	@extend %increasedMarginTop
	@extend %halfWidth-sm
	@extend %fullWidth-xs
	@extend %fs-28-xs
		


.singleStyleImageContainer
	@extend %defaultMarginTop
	@extend %relative
	
.singleStyleImageContainer__image
	@extend %fullWidth
	min-height: 164px 

.singleStyleImageContainer__button
	left: calc(50% - 55px)
	max-width: 110px
	@extend %halfWidth;
	@extend %burgundyBg
	@include breakpoint($xs)
		max-width: 200px
		left: calc(50% - 100px)
		padding: 15px 0 !important
		bottom: 30px !important


.styleCardPresentationMainImage
	@extend %relative
// START Card
.styleCard
	@extend %flex
	@extend %rowDirection
	@extend %wrap
	@extend %alignStart
	@extend %justifyStart
	@extend %defaultBorderRadius
	@extend %darkCianBg
	@extend %lowestOpacity
	// @extend %zeroWidth
	@extend %relative
	@extend %fs-28-xs
	@extend %zeroMaxHeight
	@extend %centerBlock
	// @extend %fullWidth
	max-width: 900px
	padding: 3% 1.5em 5%
	margin-top: 0
	&, & *
		transition: opacity 1s, max-height 1.5s, margin 1s, padding 1s, color 1s, transform 0.4s, background 1s
	& *
		max-height: 0
	@include breakpoint($xs)
		max-width: none
		line-height: 145%
		padding: 10% 6%

.styleCard_shown
	margin-top: 2em
	@extend %fullOpacity
	@extend %bigMaxHeight
	& *
		max-height: 1600px


.styleCard__closeButton
	@extend %burgundyBg


.styleCard__name, .singleStyle__name
	@extend %fullWidth
	@extend %fs-21
	@extend %bold
	@extend %fs-28-xs

// START Card presentation
.styleCardPresentation
	@extend %halfWidth
	@extend %pointIt
	@extend %defaultMarginTop
	@extend %fullWidth-xs
	padding-right: 1.5em

.styleCardPresentationImageContainer
		@extend %fullWidth

.styleCardPresentation__button, 
.styleCardPresentation__number,
.singleStyleImageContainer__button
	@extend %absolute
	@extend %defaultBorderRadius
	padding: 5px 0
	@extend %paleButton
.styleCardPresentation__number, .styleCardPresentation__button_before
		left: 20px
.styleCardPresentation__button
	@extend %burgundyBg
	top: 20px
	max-width: 70px
	@extend %four;
	@include breakpoint($xs)
		max-width: 100px
	&_after
		right: 20px
	&_active
		@extend %fullOpacity
.styleCardPresentation__number, .singleStyleImageContainer__button
	bottom: 20px
.styleCardPresentation__number
	@extend %yellowBg
	text-align: center	
	max-width: 50px;
	@extend %four;
// END Card presentation
// START Work's examples
.workExamples
	@extend %defaultFlex

.workExamples__image
	@extend %pointIt
	@extend %four
	@extend %defaultMarginTop
	padding-right: 0.5em
	transition: transform 0.5s
	z-index: 1
	&:hover
		transform: scale(1.25, 1.25)
		z-index: 10
// END Work's examples
// START StyleCard data
.styleCardData
	@extend %halfWidth
	@extend %defaultMarginTop
	@extend %fullWidth-xs
.styleCardData__title:not(:first-of-type)
	@extend %increasedMarginTop

.styleCardData__title
	@extend %fs-18;
	@extend %bold
// END StyleCard data
.styleCardDataSizesList, .styleCardDataStyleBrief, .styleCardDataConditions
	@extend %unstyled
	@extend %increasedMarginTop

.styleCardDataSizesList__size, 
.styleCardDataStyleBrief__descritption, 
.styleCardDataConditions__condition
	@extend %redusedMarginTop
	&:first-of-type
		@extend %zeroMarginTop



.styleCardData__button
	@extend %halfWidth
	@extend %defaultMarginTop


.orderFormContainer
	@extend %fullWidth
	@extend %defaultBorderRadius
	@extend %burgundyBg
	position: fixed
	top: 5%
	left: calc(50% - 250px)
	max-width: 500px
	padding: 4% 5%
	transition: width 1.5s, max-height 1s, opacity 1.5s
	&, & *
		@extend %bigIndex
		@extend %fullOpacity
	& *:not(.orderForm__button):not(.orderFormContainer__closeButton)  
		transition: opacity 1s
	&_hidden
		@extend %hiddenElement
	@extend %bigMaxHeight
	@extend %fullOpacity
	@extend %fs-21-xs
	@include breakpoint($xs)
		max-width: none
		width: 90%
		left: 5%
	@include breakpoint(max-width 500px)
		font-size: (28em / 16)
.orderFormContainer_closed
	@extend %zeroWidth
	@extend %zeroMaxHeight
	&.orderFormContainer, &.orderFormContainer * 
		@extend %lowestOpacity

.orderFormController
	@extend %fullWidth
.orderFormController__input, .orderFormController__label
	@extend %block 
.orderFormController__label
	@extend %defaultMarginTop
.orderFormController__input, .orderFormController__select
	color: $darkGray
	background-color: $white
	padding: 0.8em 1em
	@extend %fullWidth
	margin-top: 0.5em
	&:focus
		&:invalid, &:valid
			border: 2px solid 
		&:invalid	
			border-color: #941302
		&:valid
			border-color: #3D6651

.orderForm__button
	@extend %halfWidth
	@extend %centerBlock
	@extend %increasedMarginTop
.orderFormContainer__closeButton
	@extend %darkCianBg

.orderFormContainer__hint
	@extend %defaultMarginTop

.orderFormContainer__styleName
	font-size: (21em / 18)
	@extend %bold

.orderForm__error
	color: $first
	@extend %defaultMarginTop

.orderForm__successMessage
	@extend %defaultMarginTop	
